<!DOCTYPE html>

{% load static %} <!-- New line -->

<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Hello world</h1>

        {% if categories %}
            <ul>
                {% for category in categories %}
                <li><a href = "/rango/category/{{ category.url }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong> No categories present </strong>
        {% endif %}

        <a href="/about/">About</a>
        <img src="{% static "background.gif" %}" alt = "Picture of space" />

    </body>

</html>
